<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace = "admin/_fragments :: head(~{::title})">

<title>change columns</title>

</head>
<!--index独有样式-->
<link rel="stylesheet" href="../static/css/index-m-center.css" th:href="@{/css/index-m-center.css}">
<link rel="stylesheet" href="../../static/lib/editormd/css/editormd.css" th:href="@{/lib/editormd/css/editormd.css}">
<style>
	body::-webkit-scrollbar {/*滚动条整体样式*/
		width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
		height: 4px;
	}
	body::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
		border-radius: 50%;
		-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
		background:#0066A7;
	}
	body::-webkit-scrollbar-track {/*滚动条里面轨道*/
		-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
		border-radius: 0;
		background: rgba(0,0,0,0.1);
	}	
	*{
		margin:0;
		padding:0;
    }

</style>	
	


<body>

<img  src="#" id="img" th:src="@{https://i0.hdslb.com/bfs/album/e7043be999b9e1883c82255f2ca38efbb2050ed7.png}" style="position: fixed;z-index: -999999999999;left:0;right:0;height:1080px;transition: all 5s;" alt="">

	<div th:replace="admin/_fragments :: imgs">

	</div>
	<!---右键点击---->
	<div  th:replace="admin/_fragments :: GalDown">

	</div>


	<!--左边部分-->
	<div th:replace="admin/_fragments :: LeftMenu">

	</div>
	<button class="side-button"></button>

    <!--头部-->
	<header>
        <div th:replace="admin/_fragments :: HeadNav">

		</div>
	</header>


	<session>
	  <div class="m-center animated fadeInUp">

		  <div style="width:1600px;background:rgba(255,255,255,0.4);padding:0.1px;">
              <h1 style="width:100%;background:rgba(255,255,255,0.5);
                   font-family: AcadEref;margin-top: 20px;margin-bottom: 20px;
                   text-align: center;border-bottom:2px solid #979797">
				  新建分类
			  </h1>
              <!--表内容-->
			  <div style="width:100%;height: 1000px;background: rgba(255,255,255,0.5)" >

				  <form action="#" th:action="*{id}==null?@{/admin/columns}:@{/admin/columns/{id}(id=*{id})}" th:object="${column}" method="post" id="form">
					  <div style="width:100%;display: flex">
						  <h1 style="font-size: 30px;color:#fff;margin-top:10px;width:80px;text-align: center;">名称</h1>
						  <input  th:value="*{title}" type="text" name="title" placeholder="输入" style="outline:none;
																				margin-top:10px;
																				border:0;
																				width:100%;
																				height:50px;
																				border-radius:15px;
																				padding-left:15px;
																				font-size:25px;
																				color:#999;">
					  </div>
					  <div style="width:100%;display: flex">
						  <h1 style="font-size: 30px;color:#fff;margin-top:10px;width:80px;text-align: center;">首图</h1>
						  <input  th:value="*{firstPicture}" type="text" name="firstPicture" placeholder="输入" style="outline:none;
																				margin-top:10px;
																				border:0;
																				width:100%;
																				height:50px;
																				border-radius:15px;
																				padding-left:15px;
																				font-size:25px;
																				color:#999;">
					  </div>
					  <div style="margin-top:20px;width:100%;">
						  <button onclick="window.history.go(-1)" style="margin-left: 900px;
						  												outline: none;
																		width:50px;
																		height:30px;
																		border:0;
																		padding:5px 7px;
																		background:#fff;
																		border-radius:20px;">
							  返回
						  </button>
						  <button onclick="sub()"
								  style="outline: none;
										width:50px;
										height:30px;
										border:0;
										padding:5px 7px;
										background:#fff;
										border-radius:20px;
										margin:0px 10px;">
							  发布
						  </button>
					  </div>
				  </form>

			  </div>


		  </div>


	  </div>
	</session>



	<footer>
         <div th:replace="admin/_fragments :: Bottom">

		 </div>
	</footer>
	
	<!--回到顶部-->
    <div  class="ui vertical icon buttons" style="position: fixed;bottom: 0;right:0;padding:10px">
		<a href="#" id="toTop" class="ui white button"><i class="chevron up icon"></i></a>
	</div>

<script>
	function sub() {
		var form = document.getElementById("form");
		if(form.name.value==""){
			alert("长度不能为空");
		}else if(form.name.value.length>8){
			alert("长度太长");
		}else {
			form.submit();
		}
	}
</script>
<script>var isIndex = 1;</script>
<script src="../static/js/jquery-2.1.3.min.js" th:src="@{/js/jquery-2.1.3.min.js}"></script>
<script src="../static/js/side-js.js" th:src="@{/js/side-js.js}"></script>
<script src="../static/js/m-background.js" th:src="@{/js/m-background.js}"></script>
<script src="../static/js/m-GalDown.js" th:src="@{/js/m-GalDown.js}"></script>
<script src="../static/js/isotope.pkgd.min.js" th:src="@{/js/isotope.pkgd.min.js}"></script>
<script src="../static/js/isotype-filter.js" th:src="@{/js/isotype-filter.js}"></script>
<script src="../static/js/m-header.js" th:src="@{/js/m-header.js}"></script>
<script src="../static/js/m-center.js" th:src="@{/js/m-center.js}"></script>
<script src="../static/js/m-footer.js" th:src="@{/js/m-footer.js}"></script>
<!--独有js-->	
<script src="../static/js/index-m-center.js" th:src="@{/js/index-m-center.js}"></script>
<!--semantic-->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js" th:src="@{https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js}"></script>
<!--平滑滚动-->
<script src="../static/lib/jquery.scrollTo-master/jquery.scrollTo-master/jquery.scrollTo.js"></script>


<script>
  	$len1 = $(".center-container").css("height")
	$(".m-center").css("min-height",$len1)	
</script>
<script>
   $(document).ready(function(){
	    $toTop =  $("#toTop");
	    $toTop.click(function(){
		   $(window).scrollTo(0,500);
	    })
	   
	    $len = $toTop.offset().top;
		  if($len>1100){
			  $toTop.css({"display":"block"})
		  }else{
			  $toTop.css({"display":"none"})
		  }
	   
	  $(window).scroll(function(){
		  $len = $toTop.offset().top;
		  if($len>1100){
			  $toTop.css({"display":"block"})
		  }else{
			  $toTop.css({"display":"none"})
		  }
	  })
	   
	   
   })
</script>
</body>
</html>
