.mr-font{
    font-size:26px;
    font-family: "Microsoft YaHei", Helvetica, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", "Monaco", monospace, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
    line-height:42px;
}
.mr-section{
    margin-top:50px;
    margin-bottom: 50px;
}
.mr-img{
    position: relative;
    left:50%;
    transform: translate(-50%,0);
    width:80%;
    margin-top:30px;
    margin-bottom: 30px;
}
.mr-vid{
    allowfullscreen:allowfullscreen;
    width:100%;
    height:600px;
    scrolling:no;
    frameborder:0;
    sandbox:allow-top-navigation allow-same-origin allow-forms allow-scripts;
}
.mr-title{
    display: flex;
    font-size: 40px;
    letter-spacing: 10px;
    line-height: 80px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.mr-announce{
    font-size: 28px;
    letter-spacing: 3px;
    line-height: 45px;
    font-weight: bold;
    text-align:right;
}

/*颜色*/
.blue{
    color:blue;
}
.orange{
    color:orange;
}
.orange{
    color:orange;
}

.bold{
    font-weight: bold;
}
/*图片大小*/
.mr-img.tiny{
    width:60%;
}
.mr-img.small{
    width:70%;
}
.mr-img.big{
    width:90%;
}
.mr-img.large{
    width:100%;
}


/*间距*/
.m-space-tiny{
    margin-top: 10px;
    margin-bottom: 10px;
}
.m-space-small{
    margin-top: 15px;
    margin-bottom: 15px;
}
.m-space{
    margin-top: 20px;
    margin-bottom: 20px;
}
.m-space-big{
    margin-top: 25px;
    margin-bottom: 25px;
}
.m-space-large{
    margin-top: 30px;
    margin-bottom: 30px;
}
.m-space-tiny{
    margin-top: 40px;
    margin-bottom: 40px;
}